*{
    margin: 0;
    padding: 0;
    background-color: gray;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    background-color: black;
}
#navbar{
    width: 100%;
    height: 60px;
    background-color: black;
    margin-bottom: 3px;
    display: flex;
}
#container{
    width: 100%;
    height: 870px;
    background-color: black;
   
}
#home-button{
    width: 60px;
    height: 100%;
    margin-right: 10px;
    
}
#home-button:hover{
    cursor: pointer;
}
#Name{
    height: 100%;
    width: 260px;
    background-color: inherit;
    font-size: 30px;
    font-family: cursive;
    line-height: 2.5;
    color: white;
    
}
#AboutUs{
    height: 100%;
    width: 120px;
   
    line-height: 3;
    background-color: inherit;
    
}
#greeny{
    display: inline;
    color: green;
    background-color: black;
}
#about{
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    color: white;
    background-color: black;
    transition-property: background-color;
    transition-duration: 1s;
}
#about:hover{
    background-color: green;
    
}
#Artists{
  width: 150px;
  height: 100%;
  background-color: black;
  
}
#ArtistName{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: cursive;
    font-size: 20px;
    line-height: 3;
    text-align: center;
    
}
#Artists-tray{
    width: 100%;
    position: relative;
    height: 0;
    display: none;
    
}
.artist{
    width: 100%;
    height: 60px;
    font-family: cursive;
    font-size: 20px;
    line-height: 3;
    text-align: center;
    background-color: black; 
    color: white;
}
.artist:hover{
    background-color: yellow;
    
}
#ArtistName:hover{
    background-color: yellow;
    cursor: pointer;
    /* transition vẫn được giữ lại mặc dù chuột đã ra khỏi thẻ*/
    transition: 1s background-color;
}
#Artists:hover > #Artists-tray{
   display: block;
}
#topsongs{
    width: 120px;
    height: 100%;
    margin-left: calc(100% - 450px - 270px);
}
#inner-topsongs{
    width: 120px;
    height: 100%;
    font-family: cursive;
    font-size: 20px;
    line-height: 3;
    text-align: center;
    background-color: black;
}
#EdSheeran{
    width: 100%;
    height: 400px;
    position: relative;
  
}
#NameArtist{
    width: auto;
    height: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    position: absolute;
    top: calc(50% - 10px);
    background: rgba(108, 182, 110, 0);
    
}
#monthlyListener{
    width: auto;
    height: 30px;
    background: rgba(108, 182, 110, 0);
    position: absolute;
    bottom: 9px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: rgb(103, 159, 245);
}
#playstate{
    width: 100%;
    height: 150px;
    /* Làm cho thẻ có hiện tượng đổi màu từ trên xuống dưới */
    background-image: linear-gradient(rgb(3, 5, 119), black);
    position: relative;
}
#song-change{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 25px);
    left: calc(50% - 25px); 
    background: rgba(0, 0, 0, 0); 
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
#song-change:hover{
    top: 2.5px;
    left: 2.5px;
    width: 55px;
    height: 55px;
   
}
#song-change > img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
#father-button{
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}
.trackBars{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
}
.trackBars:hover{
    background-color: rgb(189, 185, 185);
} 
.trackName{
    height: 100%;
    width: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    text-align: center;
    line-height: 2.1;
    background-color: rgba(108, 182, 110, 0);
    font-size: 20px;
}
#trackContainer{
    width: 100%;
    height: auto;
}
.PlayAndPause{
    background-color: rgba(108, 182, 110, 0);
    font-size: 20px;
    width: 70px; 
    height: 30px;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.1;
}
.PlayAndPause:hover{
    cursor: pointer;
}
